<div *ngIf="!err">
  <div [formGroup]="filterForm">
    <div *ngIf="listData$ | async else loading">
      <div *ngIf="products && products.length > 0">
        <h4 *ngFor="let product of products"
            [class.selected]="product === selectedProduct"
            (click)="onSelect(product)" >
          <a routerLink="/products-details">
           {{product.name}} - {{product.currentPrice}} - {{product.expiration}}
          </a>

        </h4>
    </div>
  </div>
</div>
<div *ngIf="err">
  {{err.error != undefined ? err.error : err.message}}
</div>

<ng-template #loading>
  <p>Loading data...</p>
</ng-template>
